/* Error: Only 4 arguments allowed, but 5 were passed.
 *   ,--> inc\styles\main.scss
 * 990|                         background:rgb(29,25,39,0,0.8);
 *   |                                    ^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,
 * 1 | @function rgb($red, $green, $blue, $alpha) {
 *   |           ================================ declaration
 *   '
 *   inc\styles\main.scss 990:36  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 4 arguments allowed, but 5 were passed.\a   \250c \2500 \2500 > inc\\styles\\main.scss\a 990\2502                          background:rgb(29,25,39,0,0.8);\d\a   \2502                                     ^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \2577 \a 1 \2502  @function rgb($red, $green, $blue, $alpha) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   inc\\styles\\main.scss 990:36  root stylesheet";
}
